<?xml version="1.0" encoding="utf-8"?>
<html madcap:lastheight="200" madcap:lastwidth="500" xmlns:madcap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="fr-fr" MadCap:conditions="Stago_Gestion.Contenu commun" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <p class="title_notice_stago"><MadCap:variable name="General.GuideType" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" />
        </p>
        <p class="title_notice_stago"><MadCap:variable name="General.dispositif" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" />
        </p>
        <p class="title_notice_stago">Titre de l'addenda</p>
    </body>
</html>