<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Stago_Gestion.Contenu commun,Stago_Gestion.Commun_Tech">
    <head>
    </head>
    <body>
        <h1 class="non_numerote">Matériel nécessaire</h1>
        <p>
            <MadCap:snippetText src="../Divers/Non_applicable.flsnp" />
            <MadCap:conditionalText MadCap:conditions="Stago_Gestion.Commentaires"> ou lister matériel nécessaire </MadCap:conditionalText>
        </p>
    </body>
</html>