<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Stago_Gestion.En cours de rédaction">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. ">pourtest_QIQO jhgjg</h1>
        <div class="qiqo_item">
            <h1 MadCap:autonum="1. ">test h1 dans div</h1>
            <MadCap:snippetBlock src="../Commun Stago/QIQO_content/QIQO_table.flsnp" />
        </div>
        <div class="qiqo_item">
            <p MadCap:autonum="2. ">test p dans div</p>
            <MadCap:snippetBlock src="../Commun Stago/QIQO_content/QIQO_table.flsnp" />
        </div>
        <div class="qiqo_item">
            <h1 MadCap:autonum="3. ">test h1 dans div</h1>
            <MadCap:snippetBlock src="../Commun Stago/QIQO_content/QIQO_table.flsnp" />
        </div>
    </body>
</html>