<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Stago_Gestion.En cours de rédaction">
    <head />
    <body>
        <h1 MadCap:autonum="1. ">test</h1>
        <div class="a_Attention">
            <ul>
                <li>
                    <p>kjkjk</p>
                </li>
                <li>
                    <p>kjkiuk</p>
                </li>
            </ul>
            <ul class="Action_bullet">
                <li>
                    <p>k;jk; <MadCap:conditionalText MadCap:conditions="Stago_Gestion.Commentaires">khjkhj</MadCap:conditionalText></p>
                    <ul>
                        <li>
                            <p>&#160;</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <p>&#160;</p>
        </div>
        <div class="a_attention">
            <p>
                <b>RISQUE&#160;!!</b>!</p>
            <p>ECI EST UN LOOOOOOOOOOOOOOOOOOOOOONG DANGER LKFSJLDJFLSDJKFSLDJFLSDKJFLKSDJGDFLJGDF FDGJLDFJGLDFJGD DLFKJGLDFJGDLKG KJFGLKJFDG LKJFDGKDJ FDLJFFGJJ KLJFGLJDFKGJ LKFJDGLJGFKLJGDF LKFJGLDKJGF</p>
        </div>
        <div class="a_Information">
            <p>test&#160;info hf</p>
            <p>hgfkhlhkgf hfghg </p>
            <p>hglf khfmlhk gflhgkf mlhkgfgkhl hfjkhfkg hfhgh hgfhfgh fhg hfgh fghgfh fghfghryj hgfjhf jtukut jhghj hjg hjghj jghjhg jh</p>
        </div>
        <div class="a_Precaution">
            <p>test&#160;info hf</p>
            <p>hgfkhlhkgf hfghg </p>
            <p>hglf khfmlhk gflhgkf <b>mlhkgfgkhl</b> hfjkhfkg hfhgh hgfhfgh fhg hfgh fghgfh fghfghryj hgfjhf jtukut jhghj hjg hjghj jghjhg jh</p>
        </div>
        <ul>
            <li class="z_future_version">
                <p>custom list a<sup>_action </sup>level 1gfdg [<span class="ihm_test">gfdgfd</span>]</p>
            </li>
        </ul>
        <ul class="Action_bullet">
            <li class="z_note_pour_condition">
                <p>a_action level 2</p>
            </li>
            <li>
                <p>lkgdmlf <img src="../Images/Picto_doc/Picto CE.png" class="icons" /></p>
            </li>
            <li>
                <p>
                    <MadCap:variable name="System.Title" class="IHM" /> </p>
            </li>
        </ul>
        <p>jgdlkjgdlf <MadCap:variable name="General.Indice" class="IHM" /></p>
        <ul>
            <li>
                <p>gfddgdfg <img src="../Images/Picto_doc/Picto CE.png" class="icons" style="width: 32px;height: 22px;" /></p>
            </li>
        </ul>
        <ul>
            <li>
                <p>fgdfgifk</p>
            </li>
        </ul>
        <p>fgjldkf</p>
        <ul>
            <li>
                <p>nvnvbn</p>
            </li>
        </ul>
        <p>*****</p>
        <ul class="resultat_isole">
            <li>
                <p>RESULTAT ISOLE<img src="../Images/Picto_doc/Picto CE.png" class="icons" /></p>
            </li>
        </ul>
        <ol class="Action_num">
            <li>
                <p>Test action num</p>
                <ul>
                    <li>
                        <p>level 2 action num <img src="../Images/Picto_doc/Picto CE.png" class="icons" /></p>
                    </li>
                </ul>
            </li>
        </ol>
        <ul>
            <li>
                <p>text a_tiret lvl1</p>
                <ul>
                    <li>
                        <p>a tiret <i>lvl</i> 2</p>
                        <ul>
                            <li>
                                <p>lvl3 </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <p class="a_centre">list lvl 1</p>
                <ul>
                    <li>
                        <p>list lvl 2</p>
                        <ul>
                            <li>
                                <p>list lvl 3</p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <table class="TableStyle-Tableau_classique" cellspacing="0" style="width: 475px;">
            <col class="TableStyle-Tableau_classique-Column-Column1" style="width: 68px;" />
            <col class="TableStyle-Tableau_classique-Column-Column1" />
            <col class="TableStyle-Tableau_classique-Column-Column1" />
            <col class="TableStyle-Tableau_classique-Column-Column1" />
            <thead>
                <tr class="TableStyle-Tableau_classique-Head-Header1">
                    <th>&#160;</th>
                    <th class="TableStyle-Tableau_classique-HeadE-Column1-Header1">kmlfgd</th>
                    <th class="TableStyle-Tableau_classique-HeadE-Column1-Header1">gkdjfgfd</th>
                    <th class="TableStyle-Tableau_classique-HeadD-Column1-Header1">lgkd</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-Tableau_classique-Body-Body1">
                    <td>
                        <p class="reperes1_stago">&#160;</p>
                    </td>
                    <td class="TableStyle-Tableau_classique-BodyE-Column1-Body1">ghfh</td>
                    <td class="TableStyle-Tableau_classique-BodyE-Column1-Body1">hfgh</td>
                    <td class="TableStyle-Tableau_classique-BodyD-Column1-Body1">fh</td>
                </tr>
                <tr class="TableStyle-Tableau_classique-Body-Body1">
                    <td>
                        <p class="reperes_stago">&#160;</p>
                    </td>
                    <td class="TableStyle-Tableau_classique-BodyE-Column1-Body1">fghfgh</td>
                    <td class="TableStyle-Tableau_classique-BodyE-Column1-Body1">hgf</td>
                    <td class="TableStyle-Tableau_classique-BodyD-Column1-Body1">&#160;</td>
                </tr>
                <tr class="TableStyle-Tableau_classique-Body-Body1">
                    <td>
                        <p class="reperes_stago">&#160;</p>
                    </td>
                    <td class="TableStyle-Tableau_classique-BodyB-Column1-Body1">fsd</td>
                    <td class="TableStyle-Tableau_classique-BodyB-Column1-Body1">&#160;</td>
                    <td class="TableStyle-Tableau_classique-BodyA-Column1-Body1">&#160;</td>
                </tr>
            </tbody>
        </table>
        <p class="normal_centre_stago">jkfs&#160;jdfjsdkfjs</p>
        <p class="normal_centre_stago">&#160;</p>
        <table style="width: 100%;">
            <col />
            <col />
            <col />
            <tbody>
                <tr>
                    <td>&#160;</td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>
                        <p class="reperes1_stago">&#160;</p>
                    </td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>
                        <p class="reperes">&#160;</p>
                    </td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
                <tr>
                    <td>
                        <p class="reperes">&#160;</p>
                    </td>
                    <td>&#160;</td>
                    <td>&#160;</td>
                </tr>
            </tbody>
        </table>
        <ul>
            <li>
                <p>flsdjflksdjfs</p>
                <ul>
                    <li>
                        <p>
                            <span style="font-family: serif;">f<MadCap:xref href="#figure" class="fig">Fig 1. figure name</MadCap:xref></span>
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <p>fjdslkfjsdlkjfs<MadCap:xref href="pourtest_QIQO.htm" class="num_para"><b>1. </b></MadCap:xref></p>
            </li>
        </ul>
        <div class="a_Figure">
            <p MadCap:autonum="Fig 1. ">
                <a name="figure">
                </a>figure name</p>
            <p>&#160;</p>
        </div>
    </body>
</html>