<?xml version="1.0" encoding="utf-8"?>
<html madcap:lastheight="200" madcap:lastwidth="500" xmlns:madcap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="Stago_Gestion.Contenu commun,Stago_Gestion.Commun_Tech" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head />
    <body>
        <h1 class="non_numerote">Sommaire</h1>
        <p MadCap:conditions="Stago_Gestion.Commentaires">Commentaire : NE PAS MODIFIER CE TOPIC</p>
        <p MadCap:conditions="Stago_Gestion.Commentaires">La TOC est générée automatiquement</p>
        <p MadCap:conditions="Stago_Gestion.Commentaires">(ne pas supprimer ce texte- n'apparait pas à la publication)</p>
        <MadCap:tocProxy />
    </body>
</html>